@import "_normalize";
@import "_variables";
@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;600&display=swap");


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


body{
  background-color: #6F7D8C;
  color: white;
  font-family: 'Baloo Thambi 2';
}

.waterApp{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.waterApp__tittle{
  font-size: 38px;
  margin-top: 0;
}

.waterApp__svg {
  display: block;
  max-width: 236px;
  max-height: 236px;
  margin-top: 56px;
}

.waterApp__numbers {
  font-size: 82px;
  font-weight: 600;
  position: relative;
  bottom: 135px;
}

.waterApp__button{
  display: block;
  width: 164px;
  height: 38px;
  margin: 10px;
  font-size: 18px;
  font-weight: 600;
  border-style: none;
  cursor: pointer;
  border-radius: 15px;
  outline: none;
  color: white;
  &--add {
    background-color: #50C1E9;
    margin-top: 0px;
  }
  &--remove {
    background-color: #ec544d;
  }
}

.waterApp__info {
  height: 20px;
  width: 20px;
  position: relative;
  left: 158px;
  top: 30px;
  
}